@charset "UTF-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html, body {
	height:100%;
}
section#video {
	display: flex;

	justify-content: center;
	align-items: center;
	height: 100%;
	border: 1px solid red;
	overflow: hidden;
}

video#foot{
	position: fixed;
	right: 0; top: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto; height: auto;
	z-index: -1;
	background: url(../images/photo.png) no-repeat;
	background-size: cover;
}

h1#title {
	text-align: center;
	text-transform: uppercase;
	background-color: aqua;
	margin: auto;
}

section#text {
	padding: 10px;
	background: #5F0E10;
	display: flex;
	flex-flow:  row wrap;
	height: 50%;
	justify-content: center;
}

div{
	background: #BD8E8F;
	flex: 1 100%;
	justify-content: center;
	margin: 10px;
	text-align: center;
	display: flex;	
	font-size: 4vmin;
}

section#text h1 {
	margin: auto;
}

@media all and (min-width:600px) {
	div {flex: 1 40%;font-size: 6vmin;}
}

@media all and (min-width:1000px) {
	div {flex: 1 20%; font-size: 7vmin;}
}
